<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>Companies editing tool with AngularJS, NodeJS, MySQL db</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.min.css'>


<style>
	form {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 20px;
}
form button.small {
  padding: 8px 17px;
}
#companies {
  margin: 0 auto;
}
#companies button.tiny {
  margin-bottom: 0;
  padding: 5px 10px;
}
	
</style>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>


<script>   






	var app = angular.module( 'app', [ ] )

.controller('companiesCtrl', function( $scope ){
  $scope.currentCompanyId = -1;
  $scope.currentMainCompanyId = -1;

  $scope.companies = /*[
    {
      name: 'IOS operating system',
      earnings: '32300',
      owner: '1'
    }
  ];*/

  [
{'name':'Justin','earnings':'22332', 'owner':'1'},
{'name':'Dudssasddsatin','earnings':'43432', 'owner':'1'},
{'name':'Vustdddin','earnings':'jsadfsa', 'owner':'1'},
{'name':'sdsdsdsd','earnings':'jfsad', 'owner':'1'}
];

  $scope.main_companies = [
    {
      main_name: 'Apple',
      main_earnings: '300000',
      combined_earnings: '32334'
    }
  ];

  $scope.addNewCompany = function() {
    if ( $scope.name != '' ) {
      $scope.companies.push({
        name: $scope.name,
        earnings: $scope.earnings,
        owner: $scope.owner
      });
      $scope.name = '';
      $scope.earnings = '';
      $scope.owner = '';
    }
  }
    $scope.addNewMainCompany = function() {
    if ( $scope.main_name != '' ) {


      $scope.main_companies.push({
        main_name: $scope.main_name,
        main_earnings: $scope.main_earnings,
        combined_earnings: $scope.main_earnings   /////+ ernings of child
      });
      $scope.main_name = '';
      $scope.main_earnings = '';
      $scope.combined_earnings = '';
    }
  }

  $scope.saveCompany = function() {
    if( $scope.currentCompanyId > -1 ){
      var id = $scope.currentCompanyId;
      $scope.companies[id].name = $scope.name;
      $scope.companies[id].earnings = $scope.earnings;
      $scope.companies[id].owner = $scope.owner;
      $scope.name = '';
      $scope.earnings = '';
      $scope.owner = '';
      $scope.currentCompanyId = -1;
    }
  }
    $scope.saveMainCompany = function() {
    if( $scope.currentMainCompanyId > -1 ){
      var id = $scope.currentMainCompanyId;
      $scope.main_companies[id].main_name = $scope.main_name;
      $scope.main_companies[id].main_earnings = $scope.main_earnings;
      $scope.main_companies[id].combined_earnings = $scope.main_earnings   ;//////+  ernings of child
      $scope.main_name = '';
      $scope.main_earnings = '';
      $scope.combined_earnings = '';
      $scope.currentMainCompanyId = -1;
    }
  }


  $scope.editCompany = function ( id ) {
    $scope.currentCompanyId = id;
    $scope.name = $scope.companies[id].name;
    $scope.earnings = $scope.companies[id].earnings;
    $scope.owner = $scope.companies[id].owner;
  }
    $scope.editMainCompany = function ( id ) {
    $scope.currentMainCompanyId = id;
    $scope.main_name = $scope.main_companies[id].main_name;
    $scope.main_earnings = $scope.main_companies[id].main_earnings;
    $scope.combined_earnings = $scope.main_companies[id].main_earnings;
  }
  $scope.deleteCompany = function( id ) {
    $scope.companies.splice( id, 1 );
  }
    $scope.deleteMainCompany = function( id ) {
    $scope.main_companies.splice( id, 1 );
  }
})

</script>


  
</head>

<body>



  <div ng-app="app" ng-controller="companiesCtrl">


<h1 style="text-align:center"; >Main companies</h1>
<form>
	<div class="row">
		<div class="small-4 columns">
			<label class="right inline">Main company name</label>
		</div>
		<div class="small-8 columns">
			<input type="text" ng-model="main_name" />
		</div>	
	</div>
	<div class="row">
		<div class="small-4 columns">
			<label class="right inline">Main company earnings</label>
		</div>
		<div class="small-8 columns">
			<input type="text" ng-model="main_earnings" />
		</div>
	</div>
	
	


	<div class="row">
		<div class="small-3 columns"></div>
		<div class="small-9 columns">
			<button class="small radius" ng-click="addNewMainCompany()" ng-hide="currentMainCompanyId > -1">ADD</button>
			<button class="small radius" ng-click="saveMainCompany()" ng-show="currentMainCompanyId > -1">Save</button>
		</div>
	</div>
</form>

<table id="companies">
<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Earnings</th>
		<th>Combined earnings</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="Company in main_companies">	
		<!-- <td>{{ $index + 1 }}</td>
		<td>{{ Company.main_name }}</td>
		<td>{{ Company.main_earnings }}</td>
		<td>{{ Company.combined_earnings }}</td> -->

<td>{{ $index + 1 }}</td>
		<td>{{ Company.main_name }}</td>
		<td>{{ Company.main_earnings }}</td>
		<td>{{ Company.combined_earnings }}</td>

		<td>
			<ul class="button-group radius">
				<li><button class="tiny radius" ng-click="editMainCompany($index)">Edit</button></li>
				<li><button class="tiny radius alert" ng-click="deleteMainCompany($index)">Delete</button></li>
			</ul>
		</td>
	</tr>
</tbody>
</table>	

<br>
<br>
<h1 style="text-align:center"; >Child companies</h1>
<form>
	<div class="row">
		<div class="small-4 columns">
			<label class="right inline">Child company name</label>
		</div>
		<div class="small-8 columns">
			<input type="text" ng-model="name" />
		</div>	
	</div>
	<div class="row">
		<div class="small-4 columns">
			<label class="right inline">Child company earnings</label>
		</div>
		<div class="small-8 columns">
			<input type="text" ng-model="earnings" />
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
			<label class="right inline">Owner company id</label>
		</div>
		<div class="small-8 columns">
			<input type="text" ng-model="owner" />
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns"></div>
		<div class="small-9 columns">
			<button class="small radius" ng-click="addNewCompany()" ng-hide="currentCompanyId > -1">ADD</button>
			<button class="small radius" ng-click="saveCompany()" ng-show="currentCompanyId > -1">Save</button>
		</div>
	</div>
</form>

<table id="companies">
<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Earnings</th>
		<th>Owner</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="Company in companies">	
		<td>{{ $index + 1 }}</td>
		<td>{{ Company.name }}</td>
		<td>{{ Company.earnings }}</td>
		<td>{{ Company.owner }}</td>
		<td>
			<ul class="button-group radius">
				<li><button class="tiny radius" ng-click="editCompany($index)">Edit</button></li>
				<li><button class="tiny radius alert" ng-click="deleteCompany($index)">Delete</button></li>
			</ul>
		</td>
	</tr>
</tbody>
</table>

</div>
</body>
</html>
